.icon {
  align-items: center;
  border: 1px solid var(--color-border);
  border-radius: 9999px;
  display: inline-flex;
  font-size: 12px;
  height: 24px;
  justify-content: center;
  width: 24px;
}
