NEXT_PUBLIC_APP_NAME=Toolkit Commerce
NEXT_PUBLIC_BASE_URL=http://localhost:3000
NEXT_PUBLIC_AUTH_API_URL=http://localhost:3000/api/auth
NEXT_PUBLIC_STRAPI_URL=https://strapi.example.com/api
NEXT_PUBLIC_VTEX_URL=https://vtex.example.com/api
NEXT_PUBLIC_PLACEHOLDER_API_URL=https://jsonplaceholder.typicode.com
NEXT_PUBLIC_GOOGLE_ANALYTICS_ENABLED=true
NEXT_PUBLIC_GOOGLE_ANALYTICS_ID=G-XXXXXXXX
NEXT_PUBLIC_PERFORMANCE_MONITORING=true
NEXT_PUBLIC_PERFORMANCE_IN_APP_PANEL=true
NEXT_PUBLIC_PERFORMANCE_REPORT_API=true
NEXT_PUBLIC_PERFORMANCE_NOTIFY=false
