@use "@/styles/animations.scss";
@use "@/styles/breakpoints.scss";
@use "@/styles/mixins.scss";
@use "@/styles/design-system/theme/light.scss";
@use "@/styles/design-system/theme/dark.scss";

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: var(--color-background);
  color: var(--color-text);
  font-family: Inter, system-ui, sans-serif;
}
